	<!-- Skills Section -->
	<section id="skills" class="wow animated">
		<div class="container">
			<div class="row wow fadeInUp">
				<div class="col-lg-12 text-center">
					<h2>Skills</h2>
					<hr class="star-primary">
				</div>
			</div>
			<div class="row">
				<div class="progress" data-toggle="tooltip" data-placement="top" title="자바">   
					<div class="progress-bar progress-bar-success  wow fadeInLeft" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;" > 
					<span class="sr-only">50% Complete</span> 
					</div>  
					<span class="progress-type wow fadeInLeft">JAVA</span> 
					<span class="progress-completed wow fadeInRight">50%</span> 
				</div> 
								
				<div class="progress" data-toggle="tooltip" data-placement="top" title="HTML/CSS">   
					<div class="progress-bar progress-bar-warning  wow fadeInLeft" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;" > 
					<span class="sr-only">80% Complete</span>
					</div>  
					<span class="progress-type wow fadeInLeft">HTML/CSS</span> 
					<span class="progress-completed wow fadeInRight">80%</span> 
				</div> 

				<div class="progress" data-toggle="tooltip" data-placement="top" title="자바스크립트">   
					<div class="progress-bar progress-bar-info  wow fadeInLeft" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;" > 
					<span class="sr-only">30% Complete</span> 
					</div>  
					<span class="progress-type wow fadeInLeft">JavaScript</span> 
					<span class="progress-completed wow fadeInRight">30%</span> 
				</div>

				<div class="progress" data-toggle="tooltip" data-placement="top" title="오라클 & MySQL">   
					<div class="progress-bar progress-bar-danger  wow fadeInLeft" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;" > 
					<span class="sr-only">40% Complete</span> 
					</div>  
					<span class="progress-type wow fadeInLeft">DataBase</span> 
					<span class="progress-completed wow fadeInRight">40%</span> 
				</div> 

				<div class="progress" data-toggle="tooltip" data-placement="top" title="스프링 & 스프링부트">   
					<div class="progress-bar progress-bar-primary  wow fadeInLeft" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;" > 
					<span class="sr-only">50% Complete</span> 
					</div>  
					<span class="progress-type wow fadeInLeft">SPRING & SPRING BOOT</span> 
					<span class="progress-completed wow fadeInRight">50%</span> 
				</div> 

				<div class="progress" data-toggle="tooltip" data-placement="top" title="깃 & 깃허브">   
					<div class="progress-bar progress-bar-success  wow fadeInLeft" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;" > 
					<span class="sr-only">60% Complete</span> 
					</div>  
					<span class="progress-type wow fadeInLeft">GIT & GIT HUB</span> 
					<span class="progress-completed wow fadeInRight">60%</span> 
				</div> 
								
				<!-- <div class="progress" data-toggle="tooltip" data-placement="top" title="제이쿼리">   
					<div class="progress-bar progress-bar-warning  wow fadeInLeft" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;" > 
					<span class="sr-only">80% Complete</span> 
					</div>  
					<span class="progress-type wow fadeInLeft">Jquery</span> 
					<span class="progress-completed wow fadeInRight">80%</span> 
				</div>  -->
				<!-- <div class="progress" data-toggle="tooltip" data-placement="top" title="Vue.js">   
					<div class="progress-bar progress-bar-danger  wow fadeInLeft" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;" > 
					<span class="sr-only">70% Complete</span> 
					</div>  
					<span class="progress-type wow fadeInLeft">Vue.js</span> 
					<span class="progress-completed wow fadeInRight">70%</span> 
				</div>  -->
				<!-- <div class="progress" data-toggle="tooltip" data-placement="top" title="오라클 & PostgreSQL & MySQL & MariaDB">   
					<div class="progress-bar progress-bar-  wow fadeInLeft" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;" > 
					<span class="sr-only">80% Complete</span> 
					</div>  
					<span class="progress-type wow fadeInLeft">DataBase</span> 
					<span class="progress-completed wow fadeInRight">80%</span> 
				</div>  -->

								

								
				<!-- <div class="progress" data-toggle="tooltip" data-placement="top" title="eGovFramework">   
					<div class="progress-bar progress-bar-info  wow fadeInLeft" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;" > 
					<span class="sr-only">80% Complete</span> 
					</div>  
					<span class="progress-type wow fadeInLeft">eGovFramework</span> 
					<span class="progress-completed wow fadeInRight">80%</span> 
				</div>  -->
								

			</div>
		</div>
	</section>
